# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

name: CI

on:
  push:
    paths-ignore:
      - "**.md"
  schedule:
    # UTC の 01:00 は JST だと 10:00 。
    # 1-5 で 月曜日から金曜日
    - cron: "0 1 * * 1-5"

jobs:
  check:
    name: Check
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: cargo check --workspace
      - run: cargo check --workspace --no-default-features

  test:
    name: Test Suite
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Windows の場合には MSVC 系ではなく MinGW 系を使うようにする
        if: contains(matrix.os, 'windows')
        run: rustup set default-host x86_64-pc-windows-gnu
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup show

      # NOTE: build は C API のテストで使用する libmp4.a を生成するために必要
      - run: cargo build --workspace --exclude dump_wasm --exclude transcode_wasm
      - run: ls target/debug/
      - run: cargo test --workspace --exclude dump_wasm --exclude transcode_wasm

      - run: cargo build --no-default-features --workspace --exclude dump_wasm --exclude transcode_wasm
      - run: cargo test --no-default-features --workspace --exclude dump_wasm --exclude transcode_wasm

      - name: Windows の場合には MSVC 系でもビルドだけは試す（テスト用の実行可能バイナリの作成は、MSVC 固有のパス解決処理が複雑になりすぎるので見送り）
        if: contains(matrix.os, 'windows')
        run: |
          rustup target add x86_64-pc-windows-msvc
          cargo build --package c-api --target x86_64-pc-windows-msvc
      - name: MSVC ビルド成果物の確認
        if: contains(matrix.os, 'windows')
        run: ls target/x86_64-pc-windows-msvc/debug/mp4.lib || exit 1

  lints:
    name: Lints
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          # [NOTE]
          # clippy は「stable と nightly の片方に対応したらもう片方で失敗する」といったケースが
          # まれにあるのと、そもそも nightly のチェックを事前に行うメリットが
          # 薄い（lint で警告がでても、別に普通に使う分には問題はない）ので、
          # ここでは stable だけを使っている
          - stable
          # - beta
          # - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo fmt --all --check
      - run: cargo clippy --workspace -- -D warnings
      - run: cargo clippy --workspace --no-default-features -- -D warnings

  slack_notify_failed:
    needs: [check, test, lints]
    runs-on: ubuntu-24.04
    if: ${{ failure() }}
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: hisui
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message || 'Scheduled run'}}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
