# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

name: CI

on:
  push:
    paths-ignore:
      - "**.md"
  schedule:
    # UTC の 01:00 は JST だと 10:00 。
    # 1-5 で 月曜日から金曜日
    - cron: "0 1 * * 1-5"

jobs:
  check:
    name: Check
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: cargo check
      - run: cargo check --no-default-features

  test:
    name: Test Suite
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: cargo test
      - run: cargo test --no-default-features

  lints:
    name: Lints
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: cargo fmt -- --check
      - run: cargo clippy -- -D warnings
      - run: cargo clippy --no-default-features -- -D warnings

  slack_notify_failed:
    needs: [check, test, lints]
    runs-on: ubuntu-24.04
    if: ${{ failure() }}
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: hisui
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message || 'Scheduled run'}}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
