# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

name: CI

on:
  push:
    paths-ignore:
      - "**.md"
  schedule:
    # UTC の 01:00 は JST だと 10:00 。
    # 1-5 で 月曜日から金曜日
    - cron: "0 1 * * 1-5"

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: cargo check --workspace
      - run: cargo check --workspace --no-default-features

  test:
    name: Test Suite
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: cargo test --workspace
      - run: cargo test --workspace --no-default-features

  lints:
    name: Lints
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # [NOTE]
        # clippy は「stable と nightly の片方に対応したらもう片方で失敗する」といったケースが
        # まれにあるのと、そもそも nightly のチェックを事前に行うメリットが
        # 薄い（lint で警告がでても、別に普通に使う分には問題はない）ので、
        # ここでは stable だけを使っている
        toolchain: [stable]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo fmt --all --check
      - run: cargo clippy --workspace -- -D warnings
      - run: cargo clippy --workspace --no-default-features -- -D warnings

  slack_notify_failed:
    needs: [check, test, lints]
    runs-on: ubuntu-24.04
    if: ${{ failure() }}
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: hisui
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message || 'Scheduled run'}}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
